.avatar {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 50%;
    background-color: hsl(var(--color-dark));
    color: hsl(var(--color-light));
    font-weight: 600;
    border: 2px solid hsl(var(--color-light));
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Sizes */
.sm {
    width: 1.5rem;
    height: 1.5rem;
    font-size: 0.625rem;
}

.md {
    width: 2rem;
    height: 2rem;
    font-size: 0.875rem;
}

.lg {
    width: 2.5rem;
    height: 2.5rem;
    font-size: 1rem;
}